<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Dreambooks</title>
</head>

<body>

<!--/*@thymesVar id="book" type="com.dreambooks.model.Book"*/-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
        <a href="#" class="navbar-brand" th:href="@{'/adminpanel'}">Dreambooks Admin Panel</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a href="#" class="nav-link" th:href="@{'/adminpanel'}">Dashboard</a>
                </li>
                <li class="nav-item px-2">
                    <a href="#" class="nav-link" th:href="@{'/adminpanel/books'}">Books</a>
                </li>
                <li class="nav-item px-2">
                    <a href="#" class="nav-link" th:href="@{'/adminpanel/categories'}">Categories</a>
                </li>
                <li class="nav-item px-2">
                    <a href="#" class="nav-link" th:href="@{'/adminpanel/users'}">Users</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown mr-3">
                        <a href="#" class="nav-link" th:href="@{/main}">
                            <i class="fas fa-arrow-alt-circle-left"></i> Back to main page
                        </a>
                    </li>
                    <li class="nav-item dropdown mr-3">
                        <a href="#" class="nav-link" th:href="@{/logout}">
                            <i class="fas fa-power-off"></i> Logout
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>

<!-- HEADER -->
<header id="main-header" class="py-2 bg-success text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 th:text="${category.description}">
                </h1>
            </div>
        </div>
    </div>
</header>

<!-- ACTIONS -->
<section id="actions" class="py-4 mb-4 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-light btn-block" th:href="@{/adminpanel/categories}">
                    <i class="fas fa-arrow-left"></i> Back To Dashboard
                </a>
            </div>
            <div class="col-md-3">
                <button type="submit" form="update-form" class="btn btn-success btn-block">
                    <i class="fas fa-check"></i> Save Changes
                </button>
            </div>
            <div class="col-md-3">
                <a href="#" class="btn btn-danger btn-block" th:href="@{'/adminpanel/category/delete/' + ${category.id}}">
                    <i class="fas fa-trash"></i> Delete Category
                </a>
            </div>
        </div>
    </div>
</section>


<!-- DETAILS -->
<section id="details">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Edit Category</h4>
                    </div>
                    <div class="card-body">
                        <form id="update-form" action="#" th:object="${category}" th:action="@{/adminpanel/category/update}" method="post">
                            <input type="hidden" th:field="*{id}" class="form-control" />
                                    <div class="form-group">
                                        <label>Description</label>
                                        <input type="text" class="form-control" placeholder="Description" th:field="*{description}">
                                    </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<br>
<hr>
<br>
<!-- BOOKS -->
<section id="posts">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">
                        <h4>Books By Category: <span th:text="${category.description}"></span></h4>
                    </div>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Publisher</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--/*@thymesVar id="book" type="com.dreambooks.model.Book"*/-->
                        <tr th:each="book : ${books}">
                            <td th:text="${book.id}"></td>
                            <td th:text="${book.title}"></td>
                            <td th:text="${book.author.name}"></td>
                            <td th:text="${book.publisher.name}"></td>
                            <td>
                                <a href="#" th:href="@{'/adminpanel/book/' + ${book.id}}" class="btn btn-secondary">
                                    <i class="fas fa-angle-double-right"></i> Details
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER -->
<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Copyright &copy;
                    <span id="year"></span>
                    Jakub Wylężek
                </p>
            </div>
        </div>
    </div>
</footer>


<script th:src="@{https://code.jquery.com/jquery-3.3.1.min.js}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js}" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

<script th:src="@{/js/script.js}"></script>

<script>
    // Get the current year for the copyright
    document.getElementById('authorBox').onchange = function () {
        document.getElementById('authorInput').disabled = !this.checked;
        document.getElementById('authorSelect').disabled = this.checked;
    }

    document.getElementById('publisherBox').onchange = function () {
        document.getElementById('publisherInput').disabled = !this.checked;
        document.getElementById('publisherSelect').disabled = this.checked;
    }

    CKEDITOR.replace('editor1');



</script>
</body>

</html>