<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${book.title}"></h1>

<ul>
    <!--/*@thymesVar id="book" type="com.bookstore.model.Book"*/-->
    <li th:each="category : ${book.categories}" th:text="${category.name}">A</li>
</ul>

<table>
    <thead>
    <tr>
        <th>Number of Pages</th>
        <th>Price</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <th th:text="${book.pages}"></th>
        <th th:text="${book.price}"></th>
    </tr>
    </tbody>

</table>


<h2>NOTE</h2>
<p th:text="${book.description}"></p>

<h3>Author</h3>
<p th:text="${book.author.name}"></p>

<h4>Publisher</h4>
<p th:text="${book.publisher.name}"></p>
</body>
</html>