<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dreambook</title>
</head>
<body>
<div class="modal fade" id="bookDetail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-yellow text-black">
                <h5 class="modal-title">Book detail</h5>
                <button class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="h2"></p>
                <div class="row">
                    <div class="col-5">
                        <img src="http://s.lubimyczytac.pl/upload/books/4821000/4821058/628377-352x500.jpg" alt="">
                    </div>
                    <div class="col-6 offset-1">
                        <p class="h4"><span class="text-muted">Autor:</span> J.R.R. Tolkien</p>
                        <p class="h4"><span class="text-muted">Publisher:</span> Alan Lee</p>
                        <p class="h4"><span class="text-muted">Pages:</span> 500</p>
                        <hr>
                        <p class="h3">Price: <span>$25.00</span></p>
                        <div class="form-group">
                <textarea class="form-control" rows="13">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati pariatur temporibus cumque tempora perspiciatis accusantium officiis voluptatem ea hic minima, repellendus dolorem fuga nulla incidunt vero, tempore, enim aperiam mollitia!
                Necessitatibus laboriosam odio error laudantium tempora, impedit quis nihil voluptate, earum nostrum, beatae assumenda iste optio fugit corporis sit illum amet recusandae deleniti praesentium modi harum asperiores! Recusandae, laborum officia!
                Accusantium in, a, error nemo labore quasi quos ipsa accusamus ratione consequatur, recusandae eveniet. Officiis facilis illum ex esse odit officia deserunt error soluta necessitatibus consectetur, totam quae porro a!
                Fuga repudiandae quia quisquam voluptas, possimus laboriosam distinctio optio id sequi impedit deserunt nihil perferendis iusto suscipit doloribus corrupti sapiente alias ex labore tenetur natus consequatur rem. Quis, molestias iure.</textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn animated pulse delay-3s" data-dismiss="modal" style="background-color: rgb(231, 86, 19); color:white;"><i
                        class="fa fa-shopping-cart"></i>
                    Add
                    to Cart</button>
                <button class="btn btn-success" data-dismiss="modal"><i class="fas fa-money-bill"></i> Buy Now</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>