<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dreambooks</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <!-- Custom styles for this template -->
    <link href="css/shop-homepage.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/mainpage.css}">
    <link rel="stylesheet" th:href="@{/css/hover.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <p class="h6" style="color: #e3e3e3;" sec:authorize="isAuthenticated()" th:text="'Welcome: ' + ${user_email}"></p>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fas fa-user-check"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}" sec:authorize="isAnonymous()">
                        <i class="fas fa-user-plus"></i> Registration</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/adminpanel}">
                        <i class="fas fa-user-tie"></i> Admin Panel</a>
                </li>
                <li class="nav-item dropdown mr-3" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/bookmark/books}">
                        <i class="fas fa-bookmark"></i> Bookmark
                    </a>
                </li>
                <li class="nav-item dropdown mr-3" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="fas fa-power-off"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="search">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a th:href="@{/main}"><img th:src="@{/img/logo.PNG}" alt=""></a>
            </div>
            <div class="col-md-4 offset-md-4">
                <form class="search" th:object="${searchObjects}" th:action="@{'/main/books/search'}" method="post">
                    <div class="search__wrapper">
                        <input type="text" name="" placeholder="Search for..." class="search__field" th:field="*{searchDescription}">
                        <button type="submit" class="fa fa-search search__icon"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section id="category">
    <div class="text-center">
        <div class="container">
            <div class="btn-group p-1 mt-5 mb-5" th:each="category : ${categories}">
                <!--/*@thymesVar id="category" type="com.dreambooks.model.Category"*/-->
                <a th:href="@{'/main/category/' + ${category.description}}"><button class="btn hvr-shutter-in-vertical" th:text="${category.description}"></button></a>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-4">
            <h2>Details</h2>
        </div>
    </div>

</div>
<hr>

<section id="details" class="mb-2">
    <div class="container pl-0 pr-0" style="border: solid 2px orange; background-color: white;">
        <div class="text-center">
            <!--/*@thymesVar id="book" type="com.dreambooks.model.Book"*/-->
            <p class="h2" th:text="${book.title}"></p>
            <div class="row">
                <div class="col-5">
                    <img th:src="${book.coverURL}" alt="">
                </div>
                <div class="col-6 text-left">
                    <p class="h4"><span class="text-muted">Autor: </span><span th:text="${book.author.name}"></span></p>
                    <p class="h4"><span class="text-muted">Publisher: </span><span th:text="${book.publisher.name}"></span></p>
                    <p class="h4"><span class="text-muted">Pages: </span><span th:text="${book.pages}"></span></p>
                    <hr>
                    <p class="h3">ISBN: <span th:text="${book.isbn}"></span></p>
                    <div class="form-group">
                         <textarea class="form-control" rows="12" th:text="${book.description}"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <hr style="background-color: orangered;">
        <footer style="height: 50px;">
            <div style="float: right;" class="pr-5">
                <a sec:authorize="isAuthenticated()" th:href="@{'/bookmark/add/' + ${book.id}}"  class="btn btn-success">Add to bookmark</a>
                <a th:href="@{/main}"  class="btn btn-secondary">Return</a>
            </div>
        </footer>
    </div>
</section>





<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>



<!-- Bootstrap core JavaScript -->
<script th:src="@{http://code.jquery.com/jquery-3.3.1.min.js}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<script>

</script>
</body>

</html>