<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dreambooks</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/mainpage.css}">
    <link rel="stylesheet" th:href="@{/css/hover.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <p class="h6" style="color: #e3e3e3;" sec:authorize="isAuthenticated()" th:text="'Welcome: ' + ${user_email}"></p>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fas fa-user-check"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}" sec:authorize="isAnonymous()">
                        <i class="fas fa-user-plus"></i> Registration</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/adminpanel}">
                        <i class="fas fa-user-tie"></i> Admin Panel</a>
                </li>
                <li class="nav-item dropdown mr-3" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/bookmark/books}">
                        <i class="fas fa-bookmark"></i> Bookmark
                    </a>
                </li>
                <li class="nav-item dropdown mr-3" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="fas fa-power-off"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="bookmark" class="text-center">
    <div class="text-center">
        <div class="container">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>ISBN</th>
                        <th class="text-center">Action</th>
                    </tr>
                    </thead>
                    <!--/*@thymesVar id="book" type="com.dreambooks.model.Book"*/-->
                    <tr th:each="book : ${books}">
                        <td th:text="${book.title}"></td>
                        <td th:text="${book.author.name}"></td>
                        <td th:text="${book.publisher.name}"></td>
                        <td th:text="${book.isbn}"></td>
                        <td class="text-center"><a class='btn btn-info btn-xs' th:href="@{'/main/book/' + ${book.id}}"><span class="glyphicon glyphicon-edit"></span>
                            View</a> <a class="btn btn-danger btn-xs" th:href="@{'/bookmark/delete/' + ${book.id}}"><span class="glyphicon glyphicon-remove"></span>
                            Delele</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>


<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>



<!-- Bootstrap core JavaScript -->
<script th:src="@{http://code.jquery.com/jquery-3.3.1.min.js}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<script>

</script>
</body>

</html>