<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dreambooks</title>

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/css/mainpage.css}">
    <link rel="stylesheet" th:href="@{/css/hover.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fas fa-user-check"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}" sec:authorize="isAnonymous()">
                        <i class="fas fa-user-plus"></i> Registration</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                    <a class="nav-link" th:href="@{/adminpanel}">
                        <i class="fas fa-user-tie"></i> Admin Panel</a>
                </li>
                <li class="nav-item dropdown mr-3" sec:authorize="isAuthenticated()">
                    <a href="#" class="nav-link" th:href="@{/logout}">
                        <i class="fas fa-power-off"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<section id="search">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <a th:href="@{/main}"><img th:src="@{/img/logo.PNG}" alt=""></a>
            </div>
            <div class="col-md-4 offset-md-4">
                <form class="search" th:object="${searchObjects}" th:action="@{'/main/books/search'}" method="post">
                    <div class="search__wrapper">
                        <input type="text" name="" placeholder="Search for..." class="search__field" th:field="*{searchDescription}">
                        <button type="submit" class="fa fa-search search__icon"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<hr>

<section id="registration">
    <div class="container">
        <div class="row">
            <div class="col-lg-7" style="background-color: white;">
                <form id="login" th:action="@{/login}" method="POST">
                    <h2 class="mb-4" style="color: orangered;">Login</h2>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                        </div>
                        <input type="text" id="email" name="email" th:placeholder="Email"
                               class="form-control"/>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                        <input type="password" th:placeholder="Password"
                               id="password" name="password" class="form-control"/>
                    </div>
                    <div align="center" th:if="${param.error}">
                        <p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right; ">Sing Up</button>
                </form>
            </div>
            <div class="col-lg-4 offset-1">
                <div class="text-center">
                    <div class="product-grid6" th:if="${book != null}">
                        <div class="product-image6">
                            <a th:href="@{'/main/book/' + ${book?.id}}">
                                <img class="pic-1" th:src="${book?.coverURL}">
                            </a>
                        </div>
                        <div class="product-content">
                            <h5 class="title">
                                <a href="#" th:text="${book?.title}"></a></h5>
                            <div class="price" th:text="${book?.author?.name}">
                            </div>
                        </div>
                        <ul class="social">
                            <li><a th:href="@{'/main/book/' + ${book?.id}}" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>





<!-- Bootstrap core JavaScript -->
<!-- Bootstrap core JavaScript -->
<script th:src="@{http://code.jquery.com/jquery-3.3.1.min.js}" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js}" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js}" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>

<script>

</script>
</body>

</html>